absl-py==1.4.0
cachetools==5.3.1
certifi==2020.6.20
chardet==4.0.0
cmake==3.26.3
dbus-python==1.2.16
dgl==1.1.0
distro-info==1.0
filelock==3.12.0
google-auth==2.19.0
google-auth-oauthlib==1.0.0
grpcio==1.54.2
httplib2==0.18.1
idna==2.10
importlib-metadata==6.6.0
Jinja2==3.1.2
lit==16.0.5
Markdown==3.4.3
MarkupSafe==2.1.2
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
pandas==2.0.2
protobuf==4.23.2
psutil==5.9.5
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycurl==7.43.0.6
PyGObject==3.38.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
pytz==2023.3
reportbug==7.10.3+deb11u1
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.10.1
six==1.16.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.0
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typing-extensions==4.6.2
tzdata==2023.3
unattended-upgrades==0.1
urllib3==1.26.5
Werkzeug==2.3.4
zipp==3.15.0
